# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Streamlit secrets
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Miscellaneous
*.DS_Store
*.egg-info/
*.egg